<!--<d-i-in-angular></d-i-in-angular>-->
<!--<resolution-modifiers></resolution-modifiers>-->
<!--<providers-viewproviders></providers-viewproviders>-->
<!--<hierarchical-d-i></hierarchical-d-i>-->
<!--<d-i-in-action></d-i-in-action>-->
<!--<d-i-custom-d-i></d-i-custom-d-i>-->
<!--<d-i-select></d-i-select>-->
<!--<d-i-todo-select></d-i-todo-select>-->
<!--<d-i-book-paper-parent>-->

<!--</d-i-book-paper-parent>-->
<!--<d-i-book-paper-grand>
  <d-i-book-paper-parent-content>
    &lt;!&ndash;    <d-i-book-paper-back></d-i-book-paper-back>&ndash;&gt;
    <ng-template #template>
      <d-i-book-paper-back bookLoader></d-i-book-paper-back>
    </ng-template>
  </d-i-book-paper-parent-content>
</d-i-book-paper-grand>
<d-i-book-paper-grand>
  <d-i-book-paper-parent>
    <d-i-book-paper-back></d-i-book-paper-back>
  </d-i-book-paper-parent>
</d-i-book-paper-grand>-->
<!--<d-i-abstract-factory-pattern></d-i-abstract-factory-pattern>-->
<!--<d-i-d-i-forward-ref></d-i-d-i-forward-ref>-->

<!--<div (click)="goToFolder()"> go to folder</div>-->
<!--<div (click)="goToFolderMobile()"> go to folder mobile</div>-->

<!--<d-i-component-selector></d-i-component-selector>-->
<d-i-root-content></d-i-root-content>
<router-outlet></router-outlet>


